h3 {
  color: black;
  padding-top: 20px;
}
~

.logoutBtn {
  color: #fe8c00;
  
  padding: 24px 10px;
  text-decoration: wavy;
  font-size: 25px;
  
  /* these last two make the logout button in
  the nav bar look like another link */
  cursor: pointer;
}

.logoutBtn:hover {
  color: black;
}

.infoMainContainer{
  background-color: white;
  padding: 20px;
  width: 40%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-color: #fe8c00;
  border-width: 3px;
  border-style: outset;
}

.outsideContainer{
  background-color: rgba(11, 11, 11, 0.653);
  padding-top: 50px;
  padding-bottom: 560px;
  height: 100%;
  width: 100%;
}