.container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100vw;
    display:inline-block;
    justify-content: space-between;
}
#clearBtn{
    bottom: 0;
    width: 100%;
    height: 3%;
    text-align: center;
    padding: 5px;
}


#recentPosts {
    border-style: solid;
    border-color: #fe8c00;
    padding: 10px;
    text-align: center;
    width: 25vw;
    height: 42vw;
    background-color: white;
    margin-left: 10px;
    float: left
} 



#searchResults {
    border-style: solid;
    border-color: #fe8c00;
    padding: 10px;
    margin-left: 10px;
    width: 55vw;
    height: 42vw;
    background-color: white;
    float: left
}