#recentPosts {
    text-align: center;
    float: left;
    width: 25%;
    height: 50vw;
    background-color: #6700b0;
    color: white;
} 

#searchBars {
    margin-left: 10px;
    float: left;
    width: 70%;
}

#searchResults {
    float: left;
    margin-left: 10px;
    width: 50vw;
    height: 40vw;
    background-color: #6700b0;
    color: white; 
}