.container {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display:inline-block;
}

#recentPosts {
    border-style: solid;
    border-color: #fe8c00;
    float: left;
    padding: 10px;
    text-align: center;
    float: left;
    width: 28%;
    height: 42vw;
    background-color: white;
    margin-left: 10px;
} 

#searchBars {
    text-align: center;
}

#searchResults {
    border-style: solid;
    border-color: #fe8c00;
    float: right;
    padding: 10px;
    margin-left: 10px;
    width: 50vw;
    height: 42vw;
    background-color: white;
}