p {
    font-size: 14px;
}



.upcomingCards {
    text-align: left;
}

#headerBtn {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    background: none;
    color: #500041;
}

#headerBtn:hover {
    color: #fe8c00;
    vertical-align: middle;
}

#nameHeader {
    display:inline-flexbox;
}

/* ---------------------------------- 
   CARD STYLING UPCOMING EVENTS
-----------------------------------*/
#cardContainers{
    width: 100%;
    height: 90%;
}
.cardHeader{
    display:flex;
    background-color: black;
    
}

.upcomingCards{
    background-color: white;
    margin: 12px;
    padding: 5px;
    text-align: center;
}

.upcomingBtns{
    border: none;
    background-color: none;
    color: white;
}

.upcomingBtns:hover{
    color: #fe8c00;
}

.upcomingBtnsContainer{
    background-color: black;
    text-align: center;
}

.upcomingH5{
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}
