.navMainBody{
  display: flex;
  text-align: center;
}

.appName{
 width: 25%;
}

.nav {
  /* flex box layout */
  background-color: #080137;
  overflow: hidden;
  width: 100%;
  height: 60px;
}

.nav a {
  text-decoration: none;
}

#partyUp {
  /* background-color: #500041; */
  font-size: 20px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0;
  text-decoration: none;
  text-align: left;
}


.nav-title:hover {
  color: #fe8c00;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #fe8c00;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
}

.navLink:hover {
  color: #500041
}

.searchBtn{
  background-color: none;
  color: white;
}
.searchBtn:hover{
  color: #500041;
}

